section {
  border: 2px solid salmon;
}

.boton {
  align-self: center;
  height: 50px;
  width: 250px;
  border: 1px solid black;
  background-color: #AF4C4C;
}

.numero > p {
  width: 20px;
  height: 20px;
  text-align: center;
  border: 2px solid yellowgreen;
  border-radius: 100%;
  background-color: lightblue;
}

.bold {
  font-weight: bold
}
